<app-breadcrumb titulo="Permisos"></app-breadcrumb>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <h4 class="card-title">Lista de Permitidos</h4>
          <div *ngIf="!admins">
            <button class="btn btn-dark" (click)="openAdmin(contentAdmin)">
              Crear Permiso
            </button>
          </div>
          <div *ngIf="admins?.length > 0">
            <button class="btn btn-dark" (click)="openAdmin(contentAdmin)">
              Agregar Permiso
            </button>
          </div>
        </div>
        <div class="col-9">
          <div class="form-group col-md-4 m-t-20" style="display: inline-flex; float: right">
            <input type="text" [(ngModel)]="searchText" class="form-control" name="searchText" placeholder="Buscar" />
          </div>
        </div>
      </div>
      <h6 class="card-subtitle"></h6>
      <div class="table-responsive m-t-40">
        <table id="myTable" class="table color-bordered-table inverse-bordered-table">
          <thead>
            <tr style="text-align: center">
              <th>No.</th>
              <th>Imagen</th>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Cédula</th>
              <th>Usuario</th>
              <th>Correo</th>
              <th>Teléfono</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody style="text-align: center">
            <tr *ngFor="
                let admin of admins
                  | multifilter: {nombres: searchText,apellido: searchText,usuario: searchText,correo: searchText,telefono: searchText}
                let i = index
              ">
              <!-- <tr *ngFor="let admin of admins; let i = index"> -->
              <td>{{ i+1 }}</td>
              <td>
                <figure>
                  <img class="avatar" [src]="admin.usuario.imagen" data-holder-rendered="true" alt="image"
                    (click)="openImage(contentImage, admin)" />
                </figure>
              </td>
              <td>{{ admin.usuario.nombres }}</td>
              <td>{{ admin.usuario.apellido }}</td>
              <td>{{ admin.usuario.cedula }}</td>
              <td>{{ admin.usuario.usuario }}</td>
              <td>{{ admin.usuario.correo }}</td>
              <td>{{ admin.usuario.telefono }}</td>
              <td>
                <a data-toggle="tooltip" data-original-title="Editar" (click)="openAdmin(contentAdmin, admin)">
                  <i class="fa fa-pencil text-inverse m-r-10"></i>
                </a>
                <a data-toggle="tooltip" data-original-title="Eliminar" (click)="delete(admin.ID)">
                  <i class="fa fa-trash text-danger m-r-10"></i>
                </a>
                <a data-toggle="tooltip" data-original-title="Info" (click)="mostrarPermisos(contentPermisos, admin)">
                  <i class="fa fa-info-circle text-inverse m-r-10"></i> </a>
              </td>
            </tr>
            <tr *ngIf="admins.length === 0">
              <td style="text-align: center !important" colspan="10">
                <label class="text-primary">No existen datos</label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <ng-template #contentAdmin let-modal>
    <div class="modal-header">
      <h4 *ngIf="!admin.edit" class="modal-title" id="modal-basic-title">
        Crear Permiso
      </h4>
      <h4 *ngIf="admin.edit" class="modal-title" id="modal-basic-title">
        Editar Permiso
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form (ngSubmit)="gestionAdmin()" #form="ngForm">
      <div *ngIf="admin !== undefined">
        <div class="modal-body">

          <div class="form-group" *ngIf="imagenEdit">
            <!-- editar imagen -->
            <div class="image-preview mb-3" *ngIf="imagenEdit">
              <img class="img-fluid" [src]="imagenEdit" height="500" width="100" />
            </div>
            <label for="imagen">Imagen de Perfil</label>
            <input type="file" name="image" (change)="saveEditPicture($event)" accept="image/*" />
            <small id="passwordHelpBlock" class="form-text text-muted">
              El peso de la imagen debe ser menor 2Mb a y la resolucion debe ser
              359 x 316.
            </small>
          </div>

          <div class="form-group" *ngIf="!imagenEdit">
            <!-- ImagenCrear -->
            <div class="image-preview mb-3" *ngIf="imagenPerfila">
              <img class="img-fluid" [src]="imagenPerfila" height="500" width="100" />
            </div>
            <label for="imagen">Imagen de Perfil</label>
            <input type="file" name="image" (change)="preview($event)" accept="image/*" />
            <small id="passwordHelpBlock" class="form-text text-muted">
              El peso de la imagen debe ser menor 2Mb a y la resolucion debe ser
              359 x 316.
            </small>
          </div>

          <div class="form-group">
            <input [value]="nombres" id="nombres" [(ngModel)]="nombres" name="nombres" class="form-control" type="text"
              pattern="[A-Za-z]{1,15}" required placeholder="Nombres" />
          </div>
          <div class="form-group">
            <input [value]="apellidos" id="apellidos" [(ngModel)]="apellido" name="apellidos" class="form-control"
              type="text" pattern="[A-Za-z]{1,15}" required placeholder="Apellidos" />
          </div>

          <div class="form-group">
            <input [value]="cedula" [(ngModel)]="cedula" id="cedula" name="cedula" class="form-control" type="number"
              required placeholder="Cédula" />
          </div>
          <div class="form-group" *ngIf="!admin.edit">
            <input [value]="usuario" [(ngModel)]="usuario" name="usuario" class="form-control" type="text"
              pattern="[A-Za-z0-9_-]{1,15}" required placeholder="Usuario" />
          </div>
          <div class="form-group">
            <input [value]="correo" [(ngModel)]="correo" name="correo" class="form-control" type="email" required
              placeholder="Correo" />
          </div>
          <div class="form-group">
            <input [value]="telefono" [(ngModel)]="telefono" name="telefono" class="form-control" type="number" required
              placeholder="Teléfono" />
          </div>
          <div class="row">
            <label style="padding-left: 17px; font-size: 18px; padding-bottom: 5px; font-weight: bold;">
              Permisos</label>
          </div>
          <div class="row">
            <div class="col-4">
              <input type="checkbox" id="cbox1" [(ngModel)]="permisos.urbanizacion" name="urbanizacion">
              <label class="permisos" for="cbox1">Urbanizacion</label>
              <input type="checkbox" id="cbox2" [(ngModel)]="permisos.modulo" name="modulo">
              <label class="permisos" for="cbox2">Modulo</label>
              <input type="checkbox" id="cbox3" name="facturacion" [(ngModel)]="permisos.facturacion">
              <label class="permisos" for="cbox3">Facturacion</label>
              <input type="checkbox" id="cbox4" name="autorizado" [(ngModel)]="permisos.autorizado">
              <label class="permisos" for="cbox4">Autorizado</label>
            </div>

            <div class="col-4">
              <input type="checkbox" id="cbox6" [(ngModel)]="permisos.etapa" name="etapa">
              <label class="permisos" for="cbox6">Etapa</label>
              <input type="checkbox" id="cbox7" [(ngModel)]="permisos.categoria" name="categoria">
              <label class="permisos" for="cbox7">Categoria</label>
              <input type="checkbox" id="cbox8" name="residente" [(ngModel)]="permisos.residente">
              <label class="permisos" for="cbox8">Residente</label>
              <input type="checkbox" id="cbox11" [(ngModel)]="permisos.administrador" name="administrador">
              <label class="permisos" for="cbox11">Administrador</label>
            </div>

            <div class="col-4">
              <input type="checkbox" id="cbox12" [(ngModel)]="permisos.publicidad" name="publicidad">
              <label class="permisos" for="cbox12">Publicidad</label>
              <input type="checkbox" id="cbox13" name="usuario" [(ngModel)]="permisos.usuario"> <label class="permisos"
                for="cbox13">Usuario</label>
            </div>
          </div>

          <div class="modal-footer">
            <button *ngIf="!auth.loading" [disabled]="!form.valid" type="submit" class="btn btn-outline-dark">
              <span *ngIf="!admin.edit">Guardar</span>
              <span *ngIf="admin.edit">Editar</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #contentPermisos let-modal>
    <div class="modal-header">
      <h4 class="modal-title encabezado" id="modal-basic-title">Módulos permitidos</h4>
    </div>

    <div class="modal-body">
      <strong class="pregunta"></strong>
      <div class="table-responsive">
        <table id="myTable" class=" permisos table color-bordered-table inverse-bordered-table">
          <thead>
            <tr style="text-align: center;">
              <th>Módulos</th>
            </tr>
          </thead>
          <tbody style="text-align: center;" *ngIf="infoPermisos">
            <tr>
              <td *ngIf="infoPermisos.urbanizacion">Urbanización</td>
            </tr>
            <tr>
              <td *ngIf="infoPermisos.etapa">Etapa</td>
            </tr>
            <tr>
              <td *ngIf="infoPermisos.administrador">Administrador</td>
            </tr>
            <tr>
              <td *ngIf="infoPermisos.modulo">Módulo</td>
            </tr>
            <tr>
              <td *ngIf="infoPermisos.categoria">Categoría</td>
            </tr>
            <tr>
              <td *ngIf="infoPermisos.emprendimiento">Emprendimiento</td>
            </tr>
            <tr>
              <td *ngIf="infoPermisos.publicidad">Publicidad</td>
            </tr>
            <tr>
              <td *ngIf="infoPermisos.facturacion">Facturación</td>
            </tr>
            <tr>
              <td *ngIf="infoPermisos.residente">Residentes</td>
            </tr>
            <tr>
              <td *ngIf="infoPermisos.usuario">Usuarios</td>
            </tr>
          </tbody>
          <tbody *ngIf="!infoPermisos">
            <tr>
              <td>Permisos no asignados</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-template>

  <ng-template #contentImage let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Imagen de Perfil</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" *ngIf="imagenPerfil">
      <figure class="box">
        <img [src]="imagenPerfil.usuario.imagen" alt="image" />
      </figure>
    </div>
  </ng-template>
</div>