<app-breadcrumb titulo="Etapas"></app-breadcrumb>
<!--tabla principal-->
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Lista de etapas</h4>
      <div *ngIf="!etapas">
        <button class="btn btn-dark" (click)="openEtapa(contentEtapa)">
          Crear etapa
        </button>
      </div>
      <div *ngIf="etapas?.length > 0">
        <button class="btn btn-dark" (click)="openEtapa(contentEtapa)">
          Agregar etapa
        </button>
      </div>

      <div
        class="form-group col-md-4 m-t-20"
        style="display: inline-flex; float: right"
      >
        <input
          type="text"
          class="form-control"
          name="filterName"
          placeholder="Buscar"
          [(ngModel)]="filterName"
        />
      </div>
      <h6 class="card-subtitle"></h6>
      <div class="table-responsive m-t-40">
        <table
          id="myTable"
          class="table color-bordered-table inverse-bordered-table"
        >
          <thead>
            <tr style="text-align: center">
              <th>No.</th>
              <th>Etapa</th>
              <th>Correo</th>
              <th>Usuario</th>
              <th>Télefono</th>
              <th>Banco</th>
              <th>Tipo de cuenta</th>
              <th>Número de cuenta</th>
              <th>Botón de Pago</th>
              <th>Urbanización</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody style="text-align: center">
            <tr *ngFor="let et of etapas | filter: filterName; let i = index">
              <!-- <th scope="row ">{{ i + 1 }}</th> -->
              <th scope="row ">{{et.ID}}</th>

              <td>{{ et.nombre }}</td>
              <td>{{ et.correo }}</td>
              <td>---</td>
              <td>{{ et.telefono }}</td>
              <td>{{ et.nombre_banco }}</td>
              <td>{{ et.tipo_cuenta }}</td>
              <td>{{ et.numero_cuenta }}</td>
              <td *ngIf="et.pagos_tarjeta === true">Sí</td>
              <td *ngIf="et.pagos_tarjeta === false">No</td>
              <td>{{ et.nombre_urbanizacion }}</td>
              <td>
                <a
                  data-toggle="tooltip"
                  data-original-title="Editar"
                  (click)="openEtapa(contentEtapa, et)"
                >
                  <i class="fa fa-pencil text-inverse m-r-10"></i>
                </a>
                <a
                  data-toggle="tooltip"
                  data-original-title="Eliminar"
                  (click)="delete(et.ID)"
                >
                  <i class="fa fa-trash text-danger m-r-10"></i>
                </a>
              </td>
            </tr>
            <tr *ngIf="etapas.length === 0">
              <td style="text-align: center !important" colspan="10">
                <label class="text-primary">No existen datos</label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!--Modal Crar Etapa-->
  <ng-template #contentEtapa let-modal>
    <div class="modal-header">
      <h4 *ngIf="!etapa.edit" class="modal-title" id="modal-basic-title">
        Crear etapa
      </h4>
      <h4 *ngIf="etapa.edit" class="modal-title" id="modal-basic-title">
        Editar etapa
      </h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form (ngSubmit)="gestionEtapa()" #form="ngForm">
      <div class="modal-body">
        <div class="form-group">
          <label>Seleccione una urbanización</label>
          <select
            name="id_urbanizacion"
            [(ngModel)]="id_urbanizacion"
            class="form-control custom-select"
          >
            <option *ngFor="let ur of urbanizaciones" [ngValue]="ur.ID">
              {{ ur.nombre }}
            </option>
          </select>
        </div>
        <div *ngIf="id_urbanizacion">
          <div class="form-group">
            <input
              [value]="nombre"
              [(ngModel)]="nombre"
              name="nombre"
              class="form-control"
              type="text"
              required
              placeholder="Nombre"
            />
          </div>
          <div class="form-group">
            <input
              [value]="correo"
              [(ngModel)]="correo"
              name="correo"
              class="form-control"
              type="email"
              required
              placeholder="Correo"
            />
          </div>
          <div class="form-group">
            <input
              [value]="usuario"
              [(ngModel)]="usuario"
              name="usuario"
              class="form-control"
              type="text"
              required
              placeholder="Usuario"
            />
          </div>

          <div class="form-group">
            <input
              [value]="telefono"
              [(ngModel)]="telefono"
              name="telefono"
              class="form-control"
              type="text"
              required
              placeholder="Télefono"
            />
          </div>
          <div class="form-group">
            <input
              [value]="nombre_banco"
              [(ngModel)]="nombre_banco"
              name="nombre_banco"
              class="form-control"
              type="text"
              required
              placeholder="Banco"
            />
          </div>
          <div class="form-group">
            <input
              [value]="tipo_cuenta"
              [(ngModel)]="tipo_cuenta"
              name="tipo_cuenta"
              class="form-control"
              type="text"
              required
              placeholder="Tipo cuenta"
            />
          </div>
          <div class="form-group">
            <input
              [value]="numero_cuenta"
              [(ngModel)]="numero_cuenta"
              name="numero_cuenta"
              class="form-control"
              type="text"
              required
              placeholder="Número de cuenta"
            />
          </div>
          <div class="form-group">
            <label>Botón de pago</label>
            <select
              name="pagos_tarjeta"
              [(ngModel)]="pagos_tarjeta"
              class="form-control custom-select"
            >
              <option [ngValue]="true">Si</option>
              <option [ngValue]="false">No</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          *ngIf="!auth.loading"
          [disabled]="!form.valid"
          type="submit"
          class="btn btn-outline-dark"
        >
          <span *ngIf="!etapa.edit">Guardar</span>
          <span *ngIf="etapa.edit">Editar</span>
        </button>
        <i *ngIf="auth.loading" class="fa fa-spinner fa-spin fa-2x"></i>
      </div>
    </form>
  </ng-template>
</div>
