<app-breadcrumb titulo="Recaudaciones"></app-breadcrumb>
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 col-112">
                    <div class="form-group">
                        <label>Urbanización</label>
                        <select [(ngModel)]="idUrbanizacion" name="idUrbanizacion" class="form-control custom-select"
                            id="companydropdown" (change)="getUrbId($event.target.value)">
                            <option *ngFor="let ur of urbanizaciones" value="{{ ur.ID }}">
                                {{ ur.nombre }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-12">
 
                    <div class="form-group" >
                        <label>Etapa</label>
                        <select [disabled]="!idUrbanizacion"  [(ngModel)]="id_etapa" class="form-control custom-select"
                            (change)="restablecer($event.target.value)">
                            <option *ngFor="let ur of etapasid" [ngValue]="ur.ID">
                                {{ ur.nombre }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
       
            <div class="form-group" *ngIf="id_etapa">
                <label>Tipo</label>
                <select [(ngModel)]="filtroTipo" class="form-control custom-select"
                    (change)="cargarTabla($event.target.value)">
                    <option value=""> Todas </option>
                    <option value="ALI"> Alicuotas </option>
                </select>
            </div>

            <h4 *ngIf="id_etapa"> Recaudaciones </h4>

            <div class="row mb-3" *ngIf="id_etapa">
                <div class="col-md-3 col-12">
                    <div class="input-group">
                        <label for="" class="mt-2 mr-2">Desde: </label>
                        <input type="date" class="form-control" [(ngModel)]="fechaRecaudacionInicio"
                            id="filterFechaBefore" />
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="input-group">
                        <label for="" class="mt-2 mr-2">Hasta: </label>
                        <input type="date" class="form-control" [(ngModel)]="fechaRecaudacionFin"
                            id="filterFechaBefore" />
                    </div>
                </div>
                <div class="col-md-1">
                    <button (click)="restablecerFiltroBusqueda()" type="button" class="btn btn-info"
                        data-toggle="tooltip" data-placement="right" title="Restablecer filtro">
                        <i class="fas fa-sync-alt"></i>
                    </button>
                </div>

                <div class="col-md-1 col-12">
                    <button type="button" class="btn btn-info " (click)="gestionRecaudaciones($event.target.value)">
                        Buscar
                    </button>
                </div>
                <div class="col-md-1 col-12">
                    <button type="button" class="btn btn-success " printSectionId="print-section"
                        [useExistingCss]="true" ngxPrint>
                        Imprimir
                    </button>
                </div>

                <div class="col-md-3 col-12 mt-2" *ngIf="bandera">
                    <b style="font-weight: bold;font-size: 17px;">Valor Recaudado </b> <span style="font-size: 18px;"
                        class="label label-info">{{valorTotal|currency:'USD':'symbol':'1.2'}}</span>
                </div>
            </div>


            <div *ngIf="id_etapa">
                <h4 class="card-title">Lista de transacciones</h4>
                <!-- <div class="form-group col-md-4 m-t-20" style="display: inline-flex;float:right">
                    <input type="text" class="form-control" name="filterName" placeholder="Buscar por nombres..."
                        [(ngModel)]="filterName">
                </div> -->
                <h6 class="card-subtitle"></h6>
                <div style="display: none;">
                    <div class="table-responsive m-t-40" id="print-section">
                        <h3 class="text-center">Reporte de Recaudaciones</h3>

                        <table id="myTable" class="table color-bordered-table inverse-bordered-table">
                            <thead>
                                <tr style="text-align: center;">
                                    <th>No</th>
                                    <!-- <th>Tipo</th> -->
                                    <th>Fecha </th>
                                    <!-- <th>Fecha fin</th> -->
                                    <th>Manzana</th>
                                    <th>Villa</th>
                                    <th>Modulo</th>
                                    <th>Valor</th>
                                    <th>Usuario</th>
                                    <!-- <th>Acciones</th> -->
                                </tr>
                            </thead>
                            <tbody style="text-align: center;">
                                <tr *ngFor="let tran of transacciones  let i=index ">
                                    <td>{{i+1}}</td>
                                    <!-- <td><button *ngIf="(tran.estado_pago === 'success')"
                                class="btn waves-effect waves-light btn-xs btn-success">Exitoso</button>
                            <button *ngIf="(tran.estado_pago !== 'success')"
                                class="btn waves-effect waves-light btn-xs btn-danger">Fallido</button>
                        </td> -->
                                    <td>{{tran.fecha.split("T")[0]}}</td>
                                    <!-- <td>{{tran.dia_pago}}</td> -->
                                    <td>{{tran.mz}}</td>
                                    <td>{{tran.villa}}</td>
                                    <td>{{tran.modulo}}</td>
                                    <td>${{tran.valor}}</td>
                                    <td>{{tran.usuario}}</td>
                                    <!-- <td>
                            <button style="border-color: transparent;background-color: transparent !important"
                                (click)="gestionTransaccion(tran.ID)" type="button"
                                class="btn btn-primary btn-square">
                                <i style="color: darkorange" class="fas fa-undo"></i>
                            </button>
                        </td> -->
                                </tr>
                                <tr *ngIf="(transacciones).length === 0">
                                    <td style="text-align: center !important;" colspan="10"><label
                                            class="text-primary">No
                                            existen datos</label></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row justify-content-end" *ngIf="valorTotal">
                            <div class="col-md-3 text-right">
                                total {{valorTotal|currency:'USD':'symbol':'1.2'}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive m-t-40">
                    <table id="myTable" class="table color-bordered-table inverse-bordered-table">
                        <thead>
                            <tr style="text-align: center;">
                                <th>No</th>
                                <!-- <th>Tipo</th> -->
                                <th>Fecha </th>
                                <!-- <th>Fecha fin</th> -->
                                <th>Manzana</th>
                                <th>Villa</th>
                                <th>Modulo</th>
                                <th>Valor</th>
                                <th>Usuario</th>
                                <!-- <th>Acciones</th> -->
                            </tr>
                        </thead>
                        <tbody style="text-align: center;">
                            <tr *ngFor="let tran of transacciones  let i=index ">
                                <td>{{i+1}}</td>
                                <!-- <td><button *ngIf="(tran.estado_pago === 'success')"
                                        class="btn waves-effect waves-light btn-xs btn-success">Exitoso</button>
                                    <button *ngIf="(tran.estado_pago !== 'success')"
                                        class="btn waves-effect waves-light btn-xs btn-danger">Fallido</button>
                                </td> -->
                                <td>{{tran.fecha.split("T")[0]}}</td>
                                <!-- <td>{{tran.dia_pago}}</td> -->
                                <td>{{tran.mz}}</td>
                                <td>{{tran.villa}}</td>
                                <td>{{tran.modulo}}</td>
                                <td>${{tran.valor}}</td>
                                <td>{{tran.usuario}}</td>
                                <!-- <td>
                                    <button style="border-color: transparent;background-color: transparent !important"
                                        (click)="gestionTransaccion(tran.ID)" type="button"
                                        class="btn btn-primary btn-square">
                                        <i style="color: darkorange" class="fas fa-undo"></i>
                                    </button>
                                </td> -->
                            </tr>
                            <tr *ngIf="(transacciones).length === 0">
                                <td style="text-align: center !important;" colspan="10"><label class="text-primary">No
                                        existen datos</label></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>