<app-breadcrumb titulo="Lista de Módulos"></app-breadcrumb>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-6"> 
          <div class="form-group">
            <label>Urbanización</label>
            <select [(ngModel)]="idUrbanizacion" name="idUrbanizacion" class="form-control custom-select"
              id="companydropdown" (change)="getUrbId($event.target.value)">
              <option value="" selected hidden> Seleccione una Urbanización </option>
              <option *ngFor="let ur of urbanizaciones" value="{{ ur.ID }}">
                {{ ur.nombre }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group" >
            <label>Etapa</label>
            <select  [disabled]="!idUrbanizacion"  [(ngModel)]="id_etapa" class="form-control custom-select"
              (change)="getEtapaSeleccionada($event.target.value)">
              <option value="" selected hidden> Seleccione una Etapa </option>
              <option *ngFor="let ur of etapasid" value="{{ ur.ID }}">
                {{ ur.nombre }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="id_etapa">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body" >
        <h4 class="card-title" >Lista de módulos</h4>
        <h6 class="card-subtitle"></h6>
             <div class="row">
              <div class="col-4">
                <div class="card" style="width: 380px; height: 250px">
                  <img class="card-img-top centrado"
                    (click)="openModulo('../assets/images/miregistro.png',etapaseleccionada.modulo_mi_registro,'Mi Registro',contentModulo)"
                    src="../assets/images/miregistro.png" alt="Error Horarios" />
                    <div class="row text-center">
                      <div class="col-12 text-center">
                        <div *ngIf="etapaseleccionada.modulo_mi_registro === true">
                          <p class="card-text ">Mi Registro: <span
                              class="badge badge-pill badge-success">Activo</span></p>
                        </div>
                        <div *ngIf="etapaseleccionada.modulo_mi_registro === false">
                          <p class="card-text ">Mi Registro: <span
                              class="badge badge-pill badge-danger">Inactivo</span>
                          </p>
                        </div>
                      </div>
                    </div>
                </div>
              </div>

              <div class="col-4">
                <div class="card" style="width: 380px; height: 250px">
                  <img class="card-img-top centrado"
                    (click)="openModulo('../assets/images/alicuotas.png',etapaseleccionada.modulo_alicuota,'Alicuotas',contentModulo)"
                    src="../assets/images/alicuotas.png" alt="Error Horarios" />
                    <div class="row text-center">
                      <div class="col-12 text-center">
                        <div *ngIf="etapaseleccionada.modulo_alicuota === true">
                          <p class="card-text ">Alicuota: <span
                              class="badge badge-pill badge-success">Activo</span></p>
                        </div>
                        <div *ngIf="etapaseleccionada.modulo_alicuota === false">
                          <p class="card-text ">Alicuota: <span
                              class="badge badge-pill badge-danger">Inactivo</span>
                          </p>
                        </div>
                      </div>
                    </div>
                </div>
              </div>



              <div class="col-4">
                <div class="card" style="width: 380px; height: 250px">
                  <img class="card-img-top centrado"
                    (click)="openModulo('../assets/images/emprendimiento.png',etapaseleccionada.modulo_emprendimiento,'Emprendimiento',contentModulo)"
                    src="../assets/images/emprendimiento.png" alt="Error Horarios" />
                    <div class="row text-center">
                      <div class="col-12 text-center">
                        <div *ngIf="etapaseleccionada.modulo_emprendimiento === true">
                          <p class="card-text ">Emprendimiento: <span
                              class="badge badge-pill badge-success">Activo</span></p>
                        </div>
                        <div *ngIf="etapaseleccionada.modulo_emprendimiento === false">
                          <p class="card-text ">Emprendimiento: <span
                              class="badge badge-pill badge-danger">Inactivo</span>
                          </p>
                        </div>
                      </div>
                    </div>
                </div>
              </div>

            </div> 

              <div class="row">
                <div class="col-4">
                  <div class="card" style="width: 380px; height: 250px">
                    <img class="card-img-top centrado"
                      (click)="openModulo('../assets/images/mivoto.png',etapaseleccionada.modulo_votacion,'Mi voto',contentModulo)"
                      src="../assets/images/mivoto.png" alt="Error Horarios" />
                      <div class="row text-center">
                        <div class="col-12 text-center">
                          <div *ngIf="etapaseleccionada.modulo_votacion=== true">
                            <p class="card-text ">Votacion: <span
                                class="badge badge-pill badge-success">Activo</span></p>
                          </div>
                          <div *ngIf="etapaseleccionada.modulo_votacion=== false">
                            <p class="card-text ">Votacion: <span
                                class="badge badge-pill badge-danger">Inactivo</span>
                            </p>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
  
  
                <div class="col-4">
                  <div class="card" style="width: 380px; height: 250px">
                    <img class="card-img-top centrado"
                      (click)="openModulo('../assets/images/areasocial.png',etapaseleccionada.modulo_area_social,'Area Social',contentModulo)"
                      src="../assets/images/areasocial.png" alt="Error Horarios" />
                      <div class="row text-center">
                        <div class="col-12 text-center">
                          <div *ngIf="etapaseleccionada.modulo_area_social== true">
                            <p class="card-text ">Area Social: <span
                                class="badge badge-pill badge-success">Activo</span></p>
                          </div>
                          <div *ngIf="etapaseleccionada.modulo_area_social=== false">
                            <p class="card-text ">Area Social: <span
                                class="badge badge-pill badge-danger">Inactivo</span>
                            </p>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
  
                <div class="col-4">
                  <div class="card" style="width: 380px; height: 250px">
                    <img class="card-img-top centrado"
                      (click)="openModulo('../assets/images/camaras.png',etapaseleccionada.modulo_camaras,'Camaras',contentModulo)"
                      src="../assets/images/camaras.png" alt="Error Horarios" />
                      <div class="row text-center">
                        <div class="col-12 text-center">
                          <div *ngIf="etapaseleccionada.modulo_camaras== true">
                            <p class="card-text ">Camaras: <span
                                class="badge badge-pill badge-success">Activo</span></p>
                          </div>
                          <div *ngIf="etapaseleccionada.modulo_camaras=== false">
                            <p class="card-text ">Camaras: <span
                                class="badge badge-pill badge-danger">Inactivo</span>
                            </p>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>

              <div class="row">

                <div class="col-4">
                  <div class="card" style="width: 380px; height: 250px">
                    <img class="card-img-top centrado"
                      (click)="openModulo('../assets/images/directiva.png',etapaseleccionada.modulo_directiva,'Directiva',contentModulo)"
                      src="../assets/images/directiva.png" alt="Error Horarios" />
                      <div class="row text-center">
                        <div class="col-12 text-center">
                          <div *ngIf="etapaseleccionada.modulo_directiva== true">
                            <p class="card-text ">Directiva: <span
                                class="badge badge-pill badge-success">Activo</span></p>
                          </div>
                          <div *ngIf="etapaseleccionada.modulo_directiva=== false">
                            <p class="card-text ">Directiva: <span
                                class="badge badge-pill badge-danger">Inactivo</span>
                            </p>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
  
                <div class="col-4">
                  <div class="card" style="width: 380px; height: 250px">
                    <img class="card-img-top centrado"
                      (click)="openModulo('../assets/images/galeria.png',etapaseleccionada.modulo_galeria,'Galeria',contentModulo)"
                      src="../assets/images/galeria.png" alt="Error Horarios" />
                      <div class="row text-center">
                        <div class="col-12 text-center">
                          <div *ngIf="etapaseleccionada.modulo_galeria== true">
                            <p class="card-text ">Galeria: <span
                                class="badge badge-pill badge-success">Activo</span></p>
                          </div>
                          <div *ngIf="etapaseleccionada.modulo_galeria=== false">
                            <p class="card-text ">Galeria: <span
                                class="badge badge-pill badge-danger">Inactivo</span>
                            </p>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
  
                <div class="col-4">
                  <div class="card" style="width: 380px; height: 250px">
                    <img class="card-img-top centrado"
                      (click)="openModulo('../assets/images/horarios.png',etapaseleccionada.modulo_horarios,'Horarios',contentModulo)"
                      src="../assets/images/horarios.png" alt="Error Horarios" />
                 
                  <div class="row text-center">
                    <div class="col-12 text-center">
                      <div *ngIf="etapaseleccionada.modulo_horarios true">
                        <p class="card-text ">Horarios: <span
                            class="badge badge-pill badge-success">Activo</span></p>
                      </div>
                      <div *ngIf="etapaseleccionada.modulo_horarios=== false">
                        <p class="card-text ">Horarios: <span
                            class="badge badge-pill badge-danger">Inactivo</span>
                        </p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          
         
       
      </div>
    </div>
  </div>
</div>

<ng-template #contentModulo let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{nombreseleccionado}} </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <figure class="centrado">
        <img [src]="imagenseleccionada" alt="image" />
      </figure>
      <br>
      <div *ngIf="estadoseleccionado === true">
        <span class="badge badge-pill badge-success bad">Estado:</span>
        Activado
      </div>
      <div *ngIf="estadoseleccionado === false">
        <span class="badge badge-pill badge-danger">Estado: </span>
        Inactivado
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div *ngIf="estadoseleccionado">
      <button type="button" class="btn btn-danger" (click)="update('false',nombreseleccionado)">Inactivar</button>
    </div>
    <div *ngIf="!estadoseleccionado">
      <button type="button" class="btn btn-success" (click)="update('true',nombreseleccionado)">Activar</button>
    </div>
  </div>
</ng-template>