<app-breadcrumb titulo="Categorías de emprendimientos"></app-breadcrumb>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Lista de categorías</h4>
      <div *ngIf="!markets">
        <button class="btn btn-dark" (click)="openMarket(contentMarket)">
          Crear categoría
        </button>
      </div>
      <div *ngIf="markets?.length > 0">
        <button class="btn btn-dark" (click)="openMarket(contentMarket)">
          Agregar categoría
        </button>
      </div>
      <div class="form-group col-md-4 m-t-20" style="display: inline-flex; float: right">
        <input type="text" class="form-control" name="filterName" placeholder="Buscar" [(ngModel)]="filterName" />
      </div>
      <h6 class="card-subtitle"></h6>
      <div class="table-responsive m-t-40">
        <table id="myTable" class="table color-bordered-table inverse-bordered-table">
          <thead>
            <tr style="text-align: center">
              <th>No.</th>
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody style="text-align: center">
            <tr *ngFor="let mat of markets | filter: filterName; let i = index">
              <td>{{ i + 1 }}</td>
              <td>
                <figure class="avatar avatar-sm">
                  <img [src]="mat.imagen" class="rounded-circle" alt="image" width="60px"
                    (click)="openImage(contentImage, mat)" />
                </figure>
              </td>
              <td>{{ mat.nombre }}</td>
              <td>
                <a data-toggle="tooltip" data-original-title="Editar" (click)="openMarket(contentMarket, mat)">
                  <i class="fa fa-pencil text-inverse m-r-10"></i>
                </a>
                <a data-toggle="tooltip" data-original-title="Eliminar" (click)="delete(mat.ID)">
                  <i class="fa fa-trash text-danger m-r-10"></i>
                </a>
              </td>
            </tr>
            <tr *ngIf="markets.length === 0">
              <td style="text-align: center !important" colspan="10">
                <label class="text-primary">No existen datos</label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <ng-template #contentMarket let-modal>
    <div class="modal-header">
      <h4 *ngIf="!market.edit" class="modal-title" id="modal-basic-title">
        Crear categoría
      </h4>
      <h4 *ngIf="market.edit" class="modal-title" id="modal-basic-title">
        Editar categoría
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form (ngSubmit)="gestionMarket()" #form="ngForm">
      <div class="modal-body">

        <div class="form-group" *ngIf="imagenEdit">
          <!-- editar imagen -->
          <div class="image-preview mb-3" *ngIf="imagenEdit">
            <img class="img-fluid" [src]="imagenEdit" height="500" width="100" />
          </div>
          <label for="imagen">Imagen de categoría</label>
          <input type="file" name="image" (change)="saveEditPicture($event)" accept="image/*" />
          <small id="passwordHelpBlock" class="form-text text-muted">
            El peso de la imagen debe ser menor 2Mb a y la resolucion debe ser
            80 x 80.
          </small>
        </div>

        <div class="form-group" *ngIf="!imagenEdit">
          <!-- ImagenCrear -->
          <div class="image-preview mb-3" *ngIf="imagenPerfil">
            <img class="img-fluid" [src]="imagenPerfil" height="500" width="100" />
          </div>
          <label for="imagen">Imagen de categoría</label>
          <input type="file" name="image" (change)="preview($event)" accept="image/*" />
          <small id="passwordHelpBlock" class="form-text text-muted">
            El peso de la imagen debe ser menor 2Mb a y la resolucion debe ser
            80 x 80.
          </small>
        </div>
        <!-- 
        <div class="form-group">
          <div class="image-preview mb-3" *ngIf="imagen">
            <img class="img-fluid" [src]="imagen" height="100" width="100" />
          </div>
          <input type="file" name="image" (change)="preview($event)" accept="image/*"/>
          <small id="passwordHelpBlock" class="form-text text-muted">
            El peso de la imagen debe ser menor 2Mb a y la resolucion debe ser
            80 x 80.
          </small>
        </div> -->
        <div class="form-group">
          <input [value]="nombre" [(ngModel)]="nombre" name="nombre" class="form-control" type="text" required
            placeholder="Ingrese el nombre" />
        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="!auth.loading" [disabled]="!form.valid" type="submit" class="btn btn-outline-dark">
          <span *ngIf="!market.edit">Guardar</span>
          <span *ngIf="market.edit">Editar</span>
        </button>
        <i *ngIf="auth.loading" class="fa fa-spinner fa-spin fa-2x"></i>
      </div>
    </form>
  </ng-template>

  <ng-template #contentImage let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        Imagen de Emprendimiento
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" *ngIf="imagenPerfil">
      <figure class="avatar avatar-sm">
        <img class="centrado" [src]="imagenPerfil.imagen" alt="image" />
      </figure>
      <!-- <div class="modal-body" *ngIf="imagenPerfil">
        <figure class="box">
          <img  [src]="imagenPerfil.usuario.imagen" alt="image"/>
        </figure>
      </div> -->
    </div>
  </ng-template>
</div>